.container {
    margin-bottom: 5%;
    margin: 10px;
}

.borderButton {
    padding-bottom: 20px;
}

h2 {
    border-top: 2px solid orange;
    text-align: center;
    padding-bottom: 2%;
}

button {
    background-color: #c4a24d4f;
    cursor: pointer;
}